{% extends "index.html" %}
{% block content %}
    <h1>Insert A Movie<h1><br>
        <form action="#" method="POST">
            <table>
                <tr>
                <td><label for="movieName">Movie Name:</label></td>
                <td><input type="text" id="movieName" name="movieName"></td>
                </tr>
                <tr>
                <td><label for="movieStatus">Movie Status:</label></td>
                <td><input type="text" id="movieStatus" name="movieStatus"></td>
                </tr>
                <tr>
                <td><label for="movieReleaseDate">Movie Release Date:</label></td>
                <td><input type="text" id="movieReleaseDate" name="movieReleaseDate"></td>
                </tr>
                <tr>
                <td><label for="movieBudget">Movie Budget:</label></td>
                <td><input type="text" id="movieBudget" name="movieBudget"></td>
                </tr>
                <tr>
                <td><label for="movieGenres">Movie Genres:</label></td>
                <td><input type="text" id="movieGenres" name="movieGenres"></td>
                </tr>
                <tr>
                <td><label for="movieHomepage">Movie Homepage URL:</label></td>
                <td><input type="text" id="movieHomepage" name="movieHomepage"></td>
                </tr>
                <tr>
                <td><label for="movieKeywords">Movie Keywords:</label></td>
                <td><input type="text" id="movieKeywords" name="movieKeywords"></td>
                </tr>
                <tr>
                <td><label for="movieOrgLang">Movie Original Language:</label></td>
                <td><input type="text" id="movieOrgLang" name="movieOrgLang"></td>
                </tr>
                <tr>
                <td><label for="movieOrgTitle">Movie Original Title:</label></td>
                <td><input type="text" id="movieOrgTitle" name="movieOrgTitle"></td>
                </tr>
                <tr>
                <td><label for="movieOverview">Movie Overview:</label></td>
                <td><input type="text" id="movieOverview" name="movieOverview"></td>
                </tr>
                <tr>
                <td><label for="moviePopularity">Movie Popularity:</label></td>
                <td><input type="text" id="moviePopularity" name="moviePopularity"></td>
                </tr>
                <tr>
                <td><label for="movieProductionCompany">Movie Production Companys:</label></td>
                <td><input type="text" id="movieProductionCompany" name="movieProductionCompany"></td>
                </tr>
                <tr>
                <td><label for="movieProductionCountries">Movie Production Countries:</label></td>
                <td><input type="text" id="movieProductionCountries" name="movieProductionCountries"></td>
                </tr>
                <tr>
                <td><label for="movieRevenue">Movie Revenue:</label></td>
                <td><input type="text" id="movieRevenue" name="movieRevenue"></td>
                </tr>
                <tr>
                <td><label for="movieRuntime">Movie Runtime:</label></td>
                <td><input type="text" id="movieRuntime" name="movieRuntime"></td>
                </tr>
                <tr>
                <td><label for="movieSpokenLang">Movie Spoken Language:</label></td>
                <td><input type="text" id="movieSpokenLang" name="movieSpokenLang"></td>
                </tr>
                <tr>
                <td><label for="movieTagline">Movie Tagline:</label></td>
                <td><input type="text" id="movieTagline" name="movieTagline"></td>
                </tr>
                <tr>
                <td><label for="movieVoteAv">Movie Vote Average:</label></td>
                <td><input type="text" id="movieVoteAv" name="movieVoteAv"></td>
                </tr>
                <tr>
                <td><label for="movieVoteCount">Movie Vote Count:</label></td>
                <td><input type="text" id="movieVoteCount" name="movieVoteCount"></td>
                </tr>
            </table>
            <input type="submit" value="Submit">
            <input type="reset">
        </form>

{% endblock content %}
